#khung{
	width: 1000px;
	height:auto;   
	/*background: yellow;*/
	margin: 0 auto;
}
/*ngoc*/
#khung .phan1{
	width: 1000px;
	height: 100px;
	/*background: gray;*/
	margin: 0 auto;
}
.phan1 .logo{
	width: 50%;
	height: 100%;
	/*background: blue;*/
	float: left;
}
.logo .picture{
	width: 30%;
	height: 100%;
	/*background: black;*/
	float: left;
}
.picture img{
	width: 100%;
	height: 100%;
}
.logo .text{
	width: 70%;
	height: 100%;
	/*background: yellow;*/
	float: left;
}
.text h1{
	color: #14094d;
	padding-top: 0.5rem;
}
.phan1 .menu{
	width: 50%;
	height: 100%;
	/*background: green;*/
	float: left;
}
.menu ul{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.menu ul li{
	float: left;
	width: 15%;
	display: block;
	height: 100%;
	/*background: white;*/
}
.menu ul li a{
	display: block;
	width: 100%;
	height: 100%;
	/*background: green;*/
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
	padding-top: 2rem;
	color: black;
	font-weight: bold;
}
.menu ul li:hover a{
	background: #14094d;
	transition-duration: 0.5s;
	color: white;
}
/*trung*/
#khung .trung{
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.trung .text{
	width:1000px;
	height: 150px;
	background: blue;
}
.text p{
	color: black;
	font-size: 50px;
	margin: 0 auto;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}
.trung .form{
	float: left;
	width: 1000px;
	height: 130px;
	background: orange;
}
.form .form1{
	float: left;
	width: 200px;
	height: 40px;
	background: red;
	margin-top: 40px; 
	margin-left: 7%;
}
.form .form1 .f1{
	width: 100%;
	height: 85%;
	text-indent: 10px;

}
.form2{
	float: left;
	width: 200px;
	height: 40px;
	background: red;
	margin-top: 40px;
	margin-left: 2%;
}
.form .form2 .f2{
	width: 100%;
	height: 85%;
	text-indent: 10px;
}
.form3{
	float: left;
	width: 200px;
	height: 40px;
	background: red;
	margin-top: 40px;
	margin-left: 2%;
}
.form .form3 .f3{
	width: 100%;
	height: 85%;
	text-indent: 10px;
}
.form4{
	float: left;
	width: 200px;
	height: 40px;
	background: red;
	margin-top: 40px;
	margin-left: 2%;
}
.form .form4 .f4{
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background: yellow;
}
/*huy*/
#khung .cuahuy {
	width: 1000px;
	height: 600px;
	background: purple;
	margin: 0 auto;
}
#khung .cuahuy h1 {
	text-align: center;
	margin: 0 auto;
	padding-top: 1rem;
	color: white;
}
.noidung {
	width: 490px;
	height: auto;
	background: green;
	margin: 0 auto;
}
.noidung h5 {
	text-align: center;
	color: white;
}
.boxhuy {
	width: 800px;
	height: 400px;
	background: lightgreen;
	margin: 0 auto;
}
.boxhuy .box1 {
	
}

/*.box11 .ima {
	width: 100%;
	height: 50%;
}
.ima img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
} */
